@model MyBlog.Models.PostDetailViewModel

<div class="section-block summary">
    <h1 class="section-title">@ViewBag.ListTitle</h1>
    <!--reward blocks-->
    <a asp-action="Detail" asp-controller="Home" asp-route-id="@Model.Post.PostId">
        <div class="reward-block d-flex">
            @if(Model.Post.Published == true)
            {
                <div>
                    <img title="@Model.Post.Title" src="@Model.Post.Thumb" alt="avatar" width="90" height="90" />
                </div>
                <div class="ms-2">
                    <h6 >@Model.Post.Title</h6>
                    <p class="text-truncate" style="max-width: 230px; font-size:15px">@Model.Post.Scontent</p>
                </div>
            }
        </div>
    </a>
</div>

