@model MyBlog.Models.Post

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin/Home">TRANG CHỦ</a></li>
        <li class="breadcrumb-item"><a href="/Admin/Manage">QUẢN LÝ BÀI VIẾT</a></li>

        <li class="breadcrumb-item"><a href="/Admin/Update" style="padding:4px;background-color:lightgrey;border-radius:4px">CHỈNH SỬA BÀI VIẾT</a></li>

    </ol>
    <h4 class="slim-pagetitle">CHỈNH SỬA BÀI VIẾT</h4>
</div><!-- slim-pageheader -->
<hr />
<div class="row" style="margin:0 10%">
    <form onsubmit="event.preventDefault(); updatePost();" enctype="multipart/form-data">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PostId" />
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thumb" class="control-label"></label>
                <input type="file" asp-for="Thumb" class="form-control" />
                <span asp-validation-for="Thumb" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsHot" /> @Html.DisplayNameFor(model => model.IsHot)
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Published" /> @Html.DisplayNameFor(model => model.Published)
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsNewFeed" /> @Html.DisplayNameFor(model => model.IsNewFeed)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="Scontent" class="control-label"></label>
                <input asp-for="Scontent" class="form-control">
                <span asp-validation-for="Scontent" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatId" class="control-label">Danh mục:</label>
                <select asp-for="CatId" class="form-control">
                    @if (ViewBag.Categories != null)
                    {
                        foreach (var category in ViewBag.Categories as List<Category>)
                        {
                            bool selected = category.CatId == ViewBag.CatId;
                            <option value="@category.CatId" selected="@selected">@category.CatName</option>
                        }
                    }
                    else
                    {
                        <option>Please choose category</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="form-group">
                <label asp-for="Contents" class="control-label"></label>
                <textarea rows="5" asp-for="Contents" class="form-control"></textarea>
                <span asp-validation-for="Contents" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div id="messageContainer"></div>
        </div>
        <div class="col-md-12 form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

    </form>
</div>

<script type="text/javascript">
    function updatePost() {
        var formData = new FormData();
        formData.append("PostId", $("#PostId").val());
        formData.append("Title", $("#Title").val());
        formData.append("Contents", $("#Contents").val());
        formData.append("Scontent", $("#Scontent").val());
        formData.append("Thumb", $("#Thumb")[0].files[0]); // Append the file
        formData.append("IsHot", $("#IsHot").is(":checked"));
        formData.append("Published", $("#Published").is(":checked"));
        formData.append("IsNewFeed", $("#IsNewFeed").is(":checked"));
        formData.append("Author", $("#Author").val());
        formData.append("Tags", $("#Tags").val());
        formData.append("CatId", $("#CatId").val());
        $.ajax({
            url: "/Admin/Update/" + $("#PostId").val(),
            data: formData,
            type: "POST",
            processData: false, // Don't process the data
            contentType: false, // Don't set content type
            success: function (data) {
                var successMessage = "Your post was successfully updated";
                displayMessage(successMessage, false);
            },
            error: function () {
                var errorMessage = "An error occurred while updating the post";
                displayMessage(errorMessage, true);
            }
        });
    }


    function displayMessage(message, isError) {
        var messageElement = document.createElement("div");
        messageElement.className = isError ? "alert alert-danger" : "alert alert-success";
        messageElement.textContent = message;

        var container = document.getElementById("messageContainer");
        container.innerHTML = "";
        container.appendChild(messageElement);
    }
</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>