@* @model IEnumerable<MyBlog.Category> *@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model PaginatedList<MyBlog.Models.Category>
<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin/Home">Home</a></li>
        <li class="breadcrumb-item"><a href="" style="padding:4px;background-color:lightgrey;border-radius:4px">QUẢN LÝ DANH MỤC</a></li>
    </ol>

    <h4 class="slim-pagetitle">QUẢN LÝ DANH MỤC</h4>
</div>
<div class="slim-pageheader">
    <div class="col-md-6">
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-default" /> |
                    <a asp-action="Index">Back to Full List</a>
                </p>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3 text-right">
        <button type="button" class="btn btn-success" style="margin-left:60%"><a asp-controller="Categories" style="color:white" asp-action="Create">Create New</a></button>
    </div>
</div>
<div class="clearfix"></div>
<table class="table table-hover">
        @{
        if (ViewData["Result"] != null)
        {
            <div class="text-dark">@ViewData["Result"]</div>
        }
        else
        {
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Tên Danh mục</a>
                    </th>
                    <th>
                       Tiêu đề
                    </th>
                    <th>
                       Ảnh
                    </th>
                    <th>
                       Công khai
                    </th>
                    <th>
                        Sắp xếp
                    </th>
                    <th>
                        Parent
                    </th>
                    <th>
                       Levels
                    </th>
                    <th>
                       Icon
                    </th>
                    <th>
                       Cover
                    </th>
                    <th>
                      Mô tả
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
        }
        }

    <tbody>
                @if (Model != null && Model.Count() > 0)
        {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CatId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Thumb)
                </td>
                <td>
                    @*   @Html.DisplayFor(modelItem => item.Published) *@
                    @if (item.Published)
                    {
                        <span class="badge badge-primary">Public</span>
                    }
                    else
                    {
                        <span class="badge badge-primary">Non-Public</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ordering)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parents)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Levels)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Icon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cover)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a style="cursor:pointer" asp-action="Edit" asp-route-id="@item.CatId">Edit</a> |
                    <a style="cursor:pointer" onclick="deletePost(@item.CatId)">Delete</a>
                </td>
            </tr>
        }
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
<script type="text/javascript">
    function deletePost(catId) {
        swal({
            title: "Are you sure?",
            text: "Are you sure that you want to delete this category?",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "Cancel",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Yes, delete it",
                    value: true,
                    visible: true,
                    className: "btn-danger",
                    closeModal: false,
                }
            },
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: "/Admin/Categories/Delete",
                    data: { id: catId },
                    type: "POST"
                })
                    .done(function (data) {
                        swal("Deleted!", "Your post was successfully deleted!", "success")
                            .then(() => {
                                window.location.reload();
                            });
                    })
                    .fail(function (error) {
                        swal("Oops!", "An error occurred while deleting the post: " + error.responseText, "error");
                    });
            } else {
                swal("Cancelled", "Your post is safe", "info");
            }
        });
    }
</script>
