@model IEnumerable<MyBlog.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin/Home">Home</a></li>
        <li class="breadcrumb-item"><a href="" style="padding:4px;background-color:lightgrey;border-radius:4px">QUẢN LÝ DANH MỤC</a></li>
    </ol>

    <h4 class="slim-pagetitle">QUẢN LÝ DANH MỤC</h4>
</div>
<div class="slim-pageheader">
    <div class="col-md-3">
        <form action="#" method="get">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" id="txtSearch" />
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-2 text-right">
        <button type="button" class="btn btn-success" style="margin-left:90%"><a asp-controller="Categories" style="color:white" asp-action="Create">Create New</a></button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CatId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thumb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ordering)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Levels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CatId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Thumb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Published)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ordering)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parents)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Levels)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Icon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cover)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a style="cursor:pointer" asp-action="Edit" asp-route-id="@item.CatId">Edit</a> |
                    <a style="cursor:pointer" href="/Admin/Categories/Update/@item.CatId">Details</a> |
                    <a style="cursor:pointer" onclick="deletePost(@item.CatId)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    function deletePost(catId) {
        swal({
            title: "Are you sure?",
            text: "Are you sure that you want to delete this category?",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "Cancel",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Yes, delete it",
                    value: true,
                    visible: true,
                    className: "btn-danger",
                    closeModal: false,
                }
            },
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: "/Admin/Categories/Delete",
                    data: { id: catId },
                    type: "POST"
                })
                    .done(function (data) {
                        swal("Deleted!", "Your post was successfully deleted!", "success")
                            .then(() => {
                                window.location.reload();
                            });
                    })
                    .fail(function (error) {
                        swal("Oops!", "An error occurred while deleting the post: " + error.responseText, "error");
                    });
            } else {
                swal("Cancelled", "Your post is safe", "info");
            }
        });
    }
</script>
<nav style="margin-left:75%">
    <ul class="pagination justify-content-center">
        <li>
            <a class="pagination-link text-blue" href="#">Previous</a>
        </li>
        <li><a href="#" class="pagination-link text-blue">1</a></li>
        <li><a href="#" class="pagination-link text-blue">2</a></li>
        <li><a href="#" class="pagination-link text-blue">3</a></li>
        <li>
            <a class="pagination-link text-blue" href="#">Next</a>

        </li>
    </ul>
</nav>
